h1{
    padding:20px;
    background:rgb(120, 60, 140);
    color:white;
    text-align:center;
}

footer{
    padding:10px;
    background:rgb(120, 60, 140);
    color:white;
    text-align:center;
}